#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 40%;
  padding: 1em;
  margin-right: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 25px;

}

.read-the-docs {
  color: #888;
}

.student-card {
  display: flex;
  align-items: center; /* Aligner verticalement l'image et le texte */
}

.avatar {
  width: 10rem; /* Ajustez la taille selon vos besoins */
  margin-right: 5rem; /* Espacement entre l'image et le texte */
  padding: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 25%;
}

h1 {
  color: rgb(224, 146, 29);
  text-decoration: underline;
}

h2 {
  color: darkcyan;
  margin-right: 1em;
}